{% extends "base.html" %}

{% block title %} {{ entry.title }} {% endblock %}

    {% block body %}

    <h1>My Blog!</h1>
    <form method='post'>
        <label>
            New Entry:
            <input type="text" name='task' />
        </label>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if task|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        <ul>
            {% for entry in entries %}
            <li>{{task}}</li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
