{% extends "base.html" %}

{% block content %}
    <h1>Write Your Story!</h1>
    <form method='post'>
        <label>
            New Blog:
            <input type="text" name='entry' />
        </label>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if entry|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        <ul>
            {% for entry in entries %}
            <li>{{entry}}</li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
