{% extends "base.html" %}

{% block content %} 

    {% block body %}

    <h1>My Blog!</h1>
    <form method='post'>
        <label>
            <input type="text" name='word' />
        </label>
        <input type="submit" value='Add post' />
    </form>

    <hr />

    {% if word|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        <ul>
            {% for post in entries %}
            {% if %}
            <li>{{word.name}}
                <form method="POST" action="/delete-word" />
                <input type="hidden" name="word-id" value= {{"word-id"}} />
                <input type="submit" value="Done!">
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
