{% extends "base.html" %}

{% block content %} 

    {% block body %}

    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <label>
            <input type="text" name="Title for your new blog:" />
        </label>
        <label>
            <input type="textarea" name='View your new blog' />
        </label>
        <input type="submit" value='Add post' />

    </form>

    <hr />

    {% if blog|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        <ul>
            {% for post in entries %}
            {% if %}
            <li>{{blog.name}}
                <form method="POST" action="/newpost" />
                <input type="hidden" name="blog-id" value= {{"body"}} />
                <input type="submit" value="Done!">
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
